@font-face {
  font-family: 'Ampersand';
  src: local('Times New Roman');
  unicode-range: U+26;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Ampersand, 'lato', 'helvetica', 'sans-serif';
	box-sizing: border-box;
	text-align: center;
}

/*Credits to: Lea Verou*/
/*http://lea.verou.me/css3patterns/#starry-night*/
body {
	width: 100vw;
	height: 100vh;
	background-color:rgba(0,0,0,0.1);
}



@keyframes bg-animation {
	0%, 100%  { 
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	}
	25% { 
		background-position: 0 5px, 45px 50px, 120px 280px, 75px 110px;
	}
	50% { 
		background-position: 0 0, 50px 60px, 120px 270px, 72px 95px;
	}
	75% { 
		background-position: 0 5px, 45px 70px, 135px 260px, 65px 110px;
	}
}

img {
	width: 100%;
	max-width: 15em;
}

h1 {
  font-size: 2em;
  padding: 0.5em 0;
  font-weight: 100;
}

a {
	color: black;
	font-weight: 100;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 0.5em;
}

li a[href="#"] {
	cursor: no-drop;
}

ul {
	list-style-type: none;
}

main a {
	display: inline-block;
	width: auto;
	padding: 0;
}

a:not(:focus), input:not(:focus) {
	box-shadow: none;
	transition:all 0.5s ease;
}

:focus, a:hover {
	outline: none;
	box-shadow: 0em 0em 0.2em 0.2em rgba(52, 152, 219,0.5);
}

a:focus, a:hover {
	padding: 1em;
}



svg {
	width: 1em;
	height: 1em;
}

body > header {
	margin: 1em 0 0 0;
	border-bottom: 0.4em solid rgba(52, 152, 219,1.0);
	background-color: white;
	/*box-shadow: 0 0 0.5em 0.5em rgba(0,0,0,0.2);*/
}

article {
	margin: 1em 0 0 0;
	padding: 0em 0.5em 2em 0.5em;
	background-color: white;
	border-bottom: 0.4em solid rgba(52, 152, 219,1.0);
}

article p {
	text-align: left;
	max-width: 30em;
	margin: 0 auto;
}

button {
	margin: 0.8em auto;
	padding: 0.6em;
	width: 100%;
	max-width: 20em;
	background-color: rgba(52, 152, 219,1.0);
	border: none;
	color: white;
	border-bottom: 0.6em solid rgba(41, 128, 185,1.0);
}

button:active,
button:hover {
	margin-top: 1.1em;
	border-bottom: 0.3em solid rgba(41, 128, 185,1.0);
}

fieldset {
	border: none;
	text-align: center;
}

legend {
	font-weight: 600;
	margin: 0 0 0.5em 0;
}

input[type="password"] {
	display: block;
	text-align: left;
	width: 100%;
	max-width: 20em;
	margin:0 auto 0.8em auto;
	padding-left: 0.4em;
}

label {
	margin: 0 auto;
	text-align: left;
	max-width: 20em;
	display: block;
}


h2 {
	padding: 1em 0 1em 0;
	font-size: 1.3em;
	font-weight: 100;
}


input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
    margin-bottom: 2em;
}
input[type="checkbox"] + label::before {
    content: '\a0';
    color: white;
    display: inline-block;
    vertical-align: 0.2em;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-radius: 0.2em;
    background: rgba(230, 230, 230,1) ;
    text-indent: 0.25em;
    line-height: 0.75;
}
input[type="checkbox"]:checked + label::before {
    content: '\2713';
    background: rgba(52, 152, 219,1.0);
}
input[type="checkbox"]:focus + label::before {
	box-shadow: 0em 0em 0.2em 0.2em rgba(230, 230, 230,1);
}

input[type="checkbox"]:disabled + label::before {
    background: gray;
    box-shadow: none;
    color: #555;
    cursor: not-allowed;
}

footer {
	width: 100%;
	margin-top: 2em;
	background-color: rgba(52, 152, 219,0.5);
}


@media (min-width: 30em) {

	body, footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	main {
		width: 65%;
		max-width: 30em;
	}

	body > header {
		width: calc(35% - 2em);
		max-width: 15em;
		margin-right: 2em;
	}

	footer {
		align-items: center;
	}

	footer > * {
		min-width: 10em;
	}
}

article:target {
  -webkit-animation: highlight 2s ease;
          animation: highlight 2s ease;  
}

@-webkit-keyframes highlight {
	0% { background-color: white; }
	20% { background-color: rgba(0,0,0,0.0); }
	100% { background-color: white}
}

@keyframes highlight {
	0% { background-color: white; }
	20% { background-color: rgba(0,0,0,0.0); }
	100% { background-color: white }
}






#pop {
	position: fixed;
	text-align: center;
	padding: 1em 1.5em;
	opacity: 0;
	width: 40vw;
	height: 40vh;
	top: 0;
	visibility: hidden;
	transition:all 0.5s ease;
	z-index: 0;
	margin: calc(50vh - 20vh) 0;
	left: calc(50vw - 20vw);
}

#pop:target {
	background-color: rgba(200, 200, 200,1.0);
	visibility: visible;
	opacity: 1;
	box-shadow: 0 0 0 50vmax rgba(0,0,0,.8);
	color: white;
	z-index: 3;
}

#pop > * {
	position: relative;
	top: calc(50% - 3em);
}


.loader {
	margin: 1em 0 0 0;
	padding: 2em 0.2em;
	border-bottom: 0.4em solid rgba(52, 152, 219,1.0);
	text-align: center;
	background-color:white;
}

.loader p {
	-webkit-animation: blur 3s infinite;
	-moz-animation: blur 3s infinite;
	animation: blur 3s infinite;
}

/*Bron: http://codepen.io/andrewfaulkner/pen/tcvJz*/

@keyframes blur {
	0%, 100%  { 
		-webkit-filter: blur(0);
		-moz-filter: blur(0);
		filter: blur(0);
	}
	50% { 
		-webkit-filter: blur(0.1em);
		-moz-filter: blur(0.1em);
		filter: blur(0.1em);
	}
}




figure[class*=effect] {
	display: inline-block;
	vertical-align: top;
	width: 5em;
	margin: 0;
	padding: 0.2em;
}

figcaption {
	width: fit-content;
	margin: 0 auto;
}

.effect-01 img {
	-webkit-filter: brightness(1.2);
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.2" /><feFuncG type="linear" slope="1.2" /><feFuncB type="linear" slope="1.2" /></feComponentTransfer></filter></svg>#filter');
			-webkit-filter: brightness(1.2);
			        filter: brightness(1.2);
}

.effect-02 img {
	-webkit-filter: sepia(1);
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.393 0.769 0.189 0 0 0.349 0.686 0.168 0 0 0.272 0.534 0.131 0 0 0 0 0 1 0" /></filter></svg>#filter');
			-webkit-filter: sepia(1);
			        filter: sepia(1);
}

.effect-03 img {
	-webkit-filter: contrast(4);
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4" intercept="-1.5" /><feFuncG type="linear" slope="4" intercept="-1.5" /><feFuncB type="linear" slope="4" intercept="-1.5" /></feComponentTransfer></filter></svg>#filter');
			-webkit-filter: contrast(4);
			        filter: contrast(4);
}

.effect-04 img {
	-webkit-filter: invert(.8);
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.8 0.19999999999999996" /><feFuncG type="table" tableValues="0.8 0.19999999999999996" /><feFuncB type="table" tableValues="0.8 0.19999999999999996" /></feComponentTransfer></filter></svg>#filter');
			-webkit-filter: invert(.8);
			        filter: invert(.8);
}

.effect-05 img {
	-webkit-filter: grayscale(1);
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
			-webkit-filter: grayscale(1);
			        filter: grayscale(1);
}


#photo-albums img {
	max-width: 100%;
	position: relative;
}


#photo-albums img {
	max-width: 100%;
	position: relative;
}

#photo-albums figure {
	position: relative;
}

#photo-albums svg {
	position: absolute;
	width: 2em;
	height: 2em;
	top: calc(50% - 3em);
	left: calc(50% - 2em);

	background-color: rgba(255,255,255,0.6);
	box-sizing: content-box;
	border: 1em solid rgba(255,255,255,0);
	border-radius: 25%;
}



.bg {
	width: 100vw;
	height: 100vh;
	background-image: url(images/1.png),url(images/2.png), url(images/3.png); 
	background-size: 1%, 3%, 7%;
	padding:0; 
	margin:0; 
	height: 100%; 
	animation: none;
}




















