
        <header class="mainheader">
            <a href="index.html"><img src="images/logo-wit.png" alt="TKDesign"></a>
            <ul>
                <li><a href="#ontwerpen">Ontwerpen</a></li>
                <li><a href="#3D-printen">3D printen</a></li>
                <li><a href="#macbook-houders">Macbook Houders</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </header>


        <header id="top" class="mainheader none">
            <img class="none" src="images/logo-wit.png" alt="TKDesign">
            <ul class="none">
                <li><a href="#work">Producten</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </header>



        <div class="case" style="background-image: url(images/tumbs/ipad-standaard_tumb.jpg);">
            <div class="description">
                <h1>Ipad standaard</h1>
                <p>Standaard voor ipad 2, 3 en pro gemaakt van hout.</p>

                <a class="button button-small" href="#">
                  <p>Bekijk project</p>
                </a>

                <!-- <a href="index.html#contact">interesse?</a> -->
            </div>
        </div>


        <section id="contact">
            <header>
                <h1>Contact</h1>
            </header>
            <p>Geinteresseerd in een product van mij website of wilt u samen met mij iets unieks ontwerpen?</p>
            <a href="mailto:thomaskramer@live.nl" "email me"><i class="fa fa-envelope" aria-hidden="true"></i> Mail me!</a>

        </section>
