@font-face {
  font-family: 'Ampersand';
  src: local('Times New Roman');
  unicode-range: U+26;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Ampersand, lato, sans-serif;
	box-sizing: border-box;
}

/*Credits to: Lea Verou*/
/*http://lea.verou.me/css3patterns/#starry-night*/
body {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

img {
	width: 100%;
}


header {
	width: 100%;
	background-color: #0B486B;
	color: white;
	text-align: center;
}

header h1 {
  font-size: 2em;
  padding: 0.5em 0;
  font-weight: 100;
}

header p {
	margin: 1em 0 1em 0;
}

header img {
	margin: 0 1em;
	width: calc(100% - 2em);
	max-width: 15em;
	border-radius: 15%;
}

svg {
	width: 1em;
	height: 1em;
	fill:white;

}


ul {
	xbox-shadow: 0px -0px 14px 0px rgba(0,0,0,0.4);
	background-color: #3B8686;
}

li {
	padding: 0.5em 0;
	list-style-type: none;

}

a {
	color: white;
	font-weight: 100;
	text-decoration: none;
}

main {
	margin: 0 1em;
}

main article {
	background-color: rgba(46, 204, 113,1.4);
	margin-bottom: 1em;
}

article header {
	padding: 1em 0;
	background-color: transparent;
	color: black;
}

article header h1 {
	font-size: 1.5em
}

article header h2 {
	text-align: center;
}


article header span {
	font-size: 0.5em;
	font-weight: 100;
}

article p {
	margin: 0.6em 0.6em;
	/*max-width: 20em;*/
}

article p:last-of-type, article figure:last-of-type {
	padding-bottom: 1em;
}




form {
	padding: 1em;
}

fieldset {
	border: none;
}

legend {
	font-weight: 600;
	margin: 0 0 0.5em 0;
}

input {
	display: block;
	width: 100%;
	margin-bottom: 0.8em;
	height: 1.7em;
	border: none;
	background-color: rgba(198, 200, 210,1);
}

form label {
	display: block;
	margin: 0.5em 0;
}

button {
	margin-top: 0.4em;
	padding: 0.6em;
	width: 100%;
	background-color: rgba(52, 152, 219,1.0);
	border: none;
	color: white;
	border-bottom: 0.6em solid rgba(41, 128, 185,1.0);
}

button:hover {
	margin-top: 0.3em;
	border-bottom: 0.3em solid rgba(41, 128, 185,1.0);
}

article figure img {
	margin: 1em;
	margin-bottom: 0.2em;
	width: calc(100% - 2em);
}

figure svg {
	fill: black;
	position: relative;
	margin-left: 50%;
	top:0;
}

figcaption {
	text-align: center;
}



footer {
	width: 100%;
	text-align: center;
	background-color: rgba(39, 174, 96,1.0);
}

footer  * {
	background-color: transparent;
}

footer > * {
	padding: 0.5em 0;
}

pre {
	color: white;
}


@media (min-width: 24em) {

	footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	footer > * {
		width: calc(100% / 3);
		height: 100%;
		min-width: 10em;
		max-width: 12em;
	}

}


@media (min-width: 24em) {

	body {
		margin-top: 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: top;
		justify-content: center;
	}

	body > header {
		max-width: 12em;
		max-height: 25em;
	}

	main {
		width: calc(100vw - 14em);
		max-width: 30em;
		/*max-width: 20em;*/
	}

}









