* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	overflow: hidden;
	background-color: rgba(189, 195, 199,0.1);
	box-sizing: border-box;
	text-align: center;
}

/*Make HTML5 elements ie comaptible */
header, nav, article, section {
	display: block;
}

header {
	text-align: center;
	height: 6rem;
	position: fixed;
	width: 100vw;
	background-color: rgba(189, 195, 199,1);
	z-index: 2;
}

h1, h2 {
	font-size: 2rem;
	font-weight: 200;
	xcolor: rgba(236, 240, 241,1.0);
}

nav ul li {
	display: inline-block;
	background-color: rgba(52, 73, 94,1.0);
	width: calc(50% - 0.2rem);
	height: 2rem;
}

nav a {
	color: rgba(236, 240, 241,1.0);
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.8rem;
}

p, h1, h2, h3, ul {
	margin: 0.5rem;
}

.hidden {
	display: none;
}

@keyframes target {
	0% {background-color: rgba(0,0,0,0);}
	50% {background-color: rgba(52, 73, 94,0.5);}
	100% {background-color: rgba(0,0,0,0);}
}

article:target {
	background-color: none;
	animation: target 1s linear;
}

article[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

article[draggable] img {
	pointer-events: none;
}

#products, #list {
	height: calc(100vh - 6.27rem);
	padding-top: 6rem;
	overflow: scroll;
}

.product {
	background-color: rgba(189, 195, 199,0.4);
	height: 5em;
	margin-top: 0.5em;
}

.product img {
	float: left;
	height: 100%;
	opacity: 0.5;
}

.product div {
	float: left;
	text-align: left;
}

.product button {
	float: right;
	height: 100%;
	width: 10em;
	border: none;
}

@media (min-width: 42em) {

	body {
		overflow: auto;
	}

	header h1 {
		margin-top: 0.8em;
	}

	nav {
		display: none;
	}

	#products, #list {
		width: 48vw;
		margin: 0 0.2vw;
		display: inline-block;
	}
}




































