* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	overflow: hidden;
	background-color: rgba(189, 195, 199,0.1);
	box-sizing: border-box;
	text-align: center;
}

/*Make HTML5 elements ie comaptible */
.header, .nav, .article, .section {
	display: block;
}

.header {
	text-align: center;
	height: 6em;
	position: fixed;
	width: 100%;
	background-color: rgb(189, 195, 199);
	z-index: 2;
}

h1, h2 {
	font-size: 2rem;
	font-weight: 200;
}

.nav ul li {
	display: inline-block;
	background-color: rgba(52, 73, 94,1.0);
	width: 49%;
	height: 2em;
}

.nav a {
	color: rgba(236, 240, 241,1.0);
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.8rem;
}

p, h1, h2, h3, ul {
	margin: 0.5rem;
}

.hidden {
	display: none;
}

@keyframes target {
	0% {background-color: rgba(0,0,0,0);}
	50% {background-color: rgba(52, 73, 94,0.5);}
	100% {background-color: rgba(0,0,0,0);}
}

.product-container {
	/*overflow: scroll;*/
	/*height: 100%;*/
}

.article:target {
	background-color: none;
	animation: target 1s linear;
}

.article[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.article[draggable] img {
	pointer-events: none;
}

#products, #list {
	height: 80%;
	height: calc(100vh - 6.27rem);
	padding-top: 6rem;
	overflow: scroll;
}

/*.product {
	background-color: rgba(189, 195, 199,0.4);
	xheight: 15em;
	margin-top: 0.5em;
}

.product img {
	xfloat: left;
	display: block;
	width: 100%;
	height: 10em;
	opacity: 0.5;
}

.product div {
	xfloat: left;
	display: inline-block;
	text-align: left;
}

.product button {
	xfloat: right;
	xheight: 100%;
	display: inline-block;
	width: 10em;
	border: none;
	background-color: rgba(255,255,255,1);
}*/


.product {
  margin: 0.5em 0;
	background-color: rgba(189, 195, 199,0.4);
  height: 10rem;
}

.product img {
  width: 100%;
  height: 8rem;
}

.product h3 {
  float: left;
  font-size: 1em;
  margin-top: 0em;
}

.product button {
  float: right;
  border: none;
  margin-top: -0.10em;
  font-weight: 600;
  font-size: 1.2em;
  width: 2em;
  background-color: rgba(0,0,0,0);
}


/*@media (min-width: 42em) {*/

	body {
		overflow: auto;
	}

	.header h1 {
		margin-top: 0.8em;
	}

	.nav {
		display: none;
	}

	#products, #list {
		width: 48vw;
		margin: 0 0.2vw;
		display: inline-block;
	}
/*}*/

.drop-zone-field {
	border: 0.1rem dotted gray;
	height: 9.9rem;
}

.drop-zone-field p {
	padding-top: 4em;
}

.strike-through {
	text-decoration: line-through;
}
































